<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>

<html>
<body>
  <div class="content">
    <div class ="welcome-paragraph">
        <h1>Welcome from Zhongyue Yang</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellendus suscipit, modi odit nulla eius nemo optio magnam, maiores dicta natus itaque laborum! Nam qui tenetur repudiandae sit placeat nesciunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, voluptatibus neque. Laudantium vitae nihil doloribus quisquam facilis quos magnam, repellat accusamus rerum ab maxime! Labore quis explicabo eos corrupti cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad odio repellat aut nemo numquam illo, magnam, recusandae aspernatur quo perferendis quisquam architecto facilis itaque, eum laudantium vel laboriosam nam.</p>
    </div>
    <div class="profile-image">
        <img src="assets/photo1.jpg" alt="Zhongyue Yang">
    </div>
  </div>
  <app-index-body2></app-index-body2>
</body>
</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



