<!DOCTYPE html>
<html>
<body>
    <div class="portfolio-containter">
        <h2 class="portfolio-intro">My Portfolio</h2>
        <h3 class="portfolio-sub">Engineering projects</h3>
    </div>
    <div class="portfolio-content">
        <div class="project1">
            <h4>Project title</h4>
            <p>Description</p>
            <div class="Image-placeholder"></div>
            <p>placeholder for image</p>
            <button type="button" onclick="location.href='#';">More Details</button>
        </div>
        <div class="project2">
            <h4>Project title</h4>
            <p>Description</p>
            <div class="Image-placeholder"></div>
            <p>placeholder for image</p>
            <button type="button" onclick="location.href='#';">More Details</button>
        </div>
        <!-- Add more project divs as needed -->
    </div>

    <div class="portfolio-content1">
        <div class="project1">
            <h4>Project title</h4>
            <p>Description</p>
            <div class="Image-placeholder"></div>
            <p>placeholder for image</p>
            <button type="button" onclick="location.href='#';">More Details</button>
        </div>
        <div class="project2">
            <h4>Project title</h4>
            <p>Description</p>
            <div class="Image-placeholder"></div>
            <p>placeholder for image</p>
            <button type="button" onclick="location.href='#';">More Details</button>
        </div>
    </div>
    <hr>
</body>
</html>
